body {
    background-image: linear-gradient(rgb(0, 174, 255), rgb(15, 230, 219));
}

h1, h2 {
    border: 5px solid black;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

img {
    height: 500px;
    width: 300px;
}

p {
    text-align: center;
}
